:root {
  --bs-body-bg: var(--bs-gray-100);
}

.partner-logo {
    width: 50px;
    height: auto;
    padding-left: 5px;
    padding-top: 5px;
}

.disclaimer {
    font-style: italic;
    font-size: 12px;
    margin: 0 auto;

}